/* Tag */


.tags {
	list-style-type: none;
	padding-left: 4px;
}

.tag {
	color: _palette(accent2-alt);
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    line-height: 32px;
    display: inline;
    border-radius: 4px;
    font-size: 12px;
    background: rgba(255,255,255,0.8);
    padding: 4px 9px;
	white-space: nowrap;
}