<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<!-- Sidebar -->
<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                <li><a href="#intro">Welcome</a></li>
                <li><a href="#about">What I do</a></li>
                <li><a href="#projects">Recent projects</a></li>
                <li><a href="#contact">Get in touch</a></li>
            </ul>
        </nav>
    </div>
</section>
<!-- Wrapper -->
<div id="wrapper">

    {{ content }}
</div>

{% include footer.html %}
{% include scripts.html %}

</body>

</html>
